<li><a href="{% url 'index' %}" {% if request.resolver_match.url_name == 'index' %}class="active"{% endif%}>домой</a></li>

<li><a href="{% url 'products:products' %}" {% if request.resolver_match.url_name == 'products' %}class="active"{% endif %}>продукты</a></li>

<li><a href="{% url 'contact' %}" {% if request.resolver_match.url_name == 'contact' %}class="active"{% endif %}>контакты</a></li>


{% if user.is_authenticated %}
    <li><a href="{% url 'auth:edit' %}">{{ user.first_name|default:'Пользователь' }}</a></li>
    <li><a href="{% url 'auth:logout' %}">выйти</a></li>
{% else %}
    <a href="{% url 'auth:login' %}">войти</a>
    <a href="{% url 'auth:register' %}">регистрация</a>
{% endif %}

